<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Cellars

    <a data-toggle="collapse" href="#user_cellars_new_form">
      Add cellar
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.cellars.each do |cellar| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/cellars/<%= cellar.id %>">
          <%= cellar.user_id %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
