<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Wines

    <a data-toggle="collapse" href="#type_wines_new_form">
      Add wine
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @type.wines.each do |wine| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/wines/<%= wine.id %>">
          <%= wine.name %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_wine_from_bottle_size/<%= wine.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="type_wines_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "type_templates/type_wines_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
