<!-- Validation failure messages -->
<% if @type.present? %>
  <% if @type.errors.any? %>
    <% @type.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new type
</h1>


<hr>

<!-- Form type start -->
<form action="/create_type" method="post">
<!-- Form type end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @type.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create type
  </button>
</form>

<hr>

<a href="/types">
  Go back
</a>
