<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Cellars

    <a data-toggle="collapse" href="#transaction_cellars_new_form">
      Add cellar
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @transaction.cellars.each do |cellar| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/cellars/<%= cellar.id %>">
          <%= cellar.user_id %>
        </a>

        <%if current_user == cellar.user %>
          <a href="/delete_cellar_from_transaction/<%= cellar.id %>">
            Delete
          </a>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="transaction_cellars_new_form">
        <%= render partial: "transaction_templates/transaction_cellars_new_form" %>
      </div>
    </div>

  </ul>
</div>
