<h1>
  Add a new transaction
</h1>


<hr>

<form action="/create_transaction" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create transaction
  </button>
</form>

<hr>

<a href="/transactions">
  Go back
</a>
