<!-- Validation failure messages -->
<% if @transaction.present? %>
  <% if @transaction.errors.any? %>
    <% @transaction.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new transaction
</h1>


<hr>

<!-- Form transaction start -->
<form action="/create_transaction" method="post">
<!-- Form transaction end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @transaction.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create transaction
  </button>
</form>

<hr>

<a href="/transactions">
  Go back
</a>
