<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Wines

    <a data-toggle="collapse" href="#country_wines_new_form">
      Add wine
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @country.wines.each do |wine| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/wines/<%= wine.id %>">
          <%= wine.name %>
        </a>

        <a href="/delete_wine_from_coutry/<%= wine.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="country_wines_new_form">
        <%= render partial: "country_templates/country_wines_new_form" %>
      </div>
    </div>

  </ul>
</div>
