<!-- Validation failure messages -->
<% if @vintage.errors.any? %>
  <% @vintage.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit vintage #<%= @vintage.id %>
</h1>

<hr>

<!-- Form vintage start -->
<form action="/update_vintage/<%= @vintage.id %>" method="post">
<!-- Form vintage end -->

  <!-- Label and input for year start -->
  <div class="form-group">
    <label for="year">
      Year
    </label>

    <!-- Input for year start -->
    <input type="text" id="year" name="year" class="form-control" value="<%= @vintage.year %>">
    <!-- Input for year end -->
  </div>
  <!-- Label and input for year end -->

  <button class="btn btn-block btn-outline-secondary">
    Update vintage
  </button>
</form>

<hr>

<a href="/vintages">
  Go back
</a>
