<h1>
  Edit vintage #<%= @vintage.id %>
</h1>

<hr>

<form action="/update_vintage/<%= @vintage.id %>" method="post">

  <div class="form-group">
    <label for="year">
      Year
    </label>

    <input type="text" id="year" name="year" class="form-control" value="<%= @vintage.year %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update vintage
  </button>
</form>

<hr>

<a href="/vintages">
  Go back
</a>
