<h1>
  Add a new vintage
</h1>


<hr>

<form action="/create_vintage" method="post">

  <div class="form-group">
    <label for="year">
      Year
    </label>

    <input type="text" id="year" name="year" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create vintage
  </button>
</form>

<hr>

<a href="/vintages">
  Go back
</a>
