<!-- Validation failure messages -->
<% if @bottle_size.present? %>
  <% if @bottle_size.errors.any? %>
    <% @bottle_size.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new bottle size
</h1>


<hr>

<!-- Form bottle_size start -->
<form action="/create_bottle_size" method="post">
<!-- Form bottle_size end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @bottle_size.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create bottle size
  </button>
</form>

<hr>

<a href="/bottle_sizes">
  Go back
</a>
